<div class="row m-3">
  <div class="col-md-2 p-1">
    <div class="p-light-theme rounded p-2">
      <ol>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li> <a href="">Soru <small>cevaplandı</small> </a> </li>
        <li><a href="">Soru <small>Boş</small></a></li>
        <li><a href="">Soru </a></li>
        <li><a href="">Soru </a></li>
        <li><a href="">Soru </a></li>
        <li><a href="">Soru </a></li>
      </ol>
    </div>
  </div>
  <div class="col-md-8 p-1">
    <div class="p-light-theme rounded p-2">
      <div>
        <div class="d-block">
          <h1>n. Soru</h1>


          <div class="container">
            <div class="">
                <div class="mx-auto">
                    <div class="card">
                        <div class="card-body">
                        
                            <div class="row">
                                <div class="col">
                                  <h3>A1</h3>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body mx-auto">
                                  <img width="300px" src ="../..\assets\images\ravenQuestions\q1\question1.png"/>
                                </div>
                            </div>

                          <!-- 
                            div>
                              
                                <asp:RadioButtonList ID="RadioButtonList1" runat="server" BorderStyle="Groove"
                                    BorderWidth="1px" RepeatColumns="3" RepeatLayout="Table">
                                </asp:RadioButtonList> 
                            </div>
                          -->  


                             <div class="row">
                                <div class="col-md-4 mb-3">                                    
                                    <label for="a1">
                                      <img width="150px" src ="../../assets/images/ravenQuestions/q1/ans1.png"/>
                                    </label>
                                    <input type="radio" name="answers" id="a1">
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="a2">
                                    <img width="150px" src ="../../assets/images/ravenQuestions/q1/ans2.png"/>
                                  </label>
                                    <input type="radio" name="answers" id="a2">
                                    
                                </div>

                                <div class="col-md-4 mb-3">
                                  <label for="a3">
                                    <img width="150px" src ="../../assets/images/ravenQuestions/q1/ans3.png"/>
                                  </label>
                                    <input type="radio" name="answers" id="a3">
                                    
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                  <label for="a4">
                                    <img width="150px" src ="../../assets/images/ravenQuestions/q1/ans4.png"/>
                                  </label>
                                    <input type="radio" name="answers" id="a4">

                                </div>

                                 <div class="col-md-4 mb-3">
                                   <label for="a5">
                                    <img width="150px" src ="../../assets/images/ravenQuestions/q1/ans5.png"/>
                                   </label>
                                    <input type="radio" name="answers" id="a5">

                                </div>

                                 <div class="col-md-4 mb-3">
                                  <label for="a6">
                                    <img width="150px" src ="../../assets/images/ravenQuestions/q1/ans6.png"/>
                                  </label>
                                    <input type="radio" name="answers" id="a6">
                                </div>
                            </div>

                            <div class="form-group">
                                    <button class="btn btn-success btn-block btn-lg" ID="Button1" runat="server" Text="Next" href="question1.aspx">Cevabı Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
        <button class="d-inline btn btn-light m-2">
          Önceki Soru
        </button>
        <button class="d-inline btn btn-light m-2 float-right">
          Sonraki Soru
        </button>
      </div>

    </div>
  
  </div>
  <div class="col-md-2 p-1">
    <div class="p-light-theme rounded p-2">
      <p>Kalan Süre 0:27:48</p>
      <button class="btn btn-dark"> Sınavı Bitir</button>
    </div>
  </div>
  
</div>
