<header>
<div class="row min-vh-100">
  <div class="p-theme col-md-2">
    <img src="../assets/images/logo-color-1.png" alt="" class="rounded img-responsive mw-100 p-4">
    <div class="pt-4 ml-2">
      <a href="/home" class="d-block"><i class="ti-home"></i> Ana Sayfa</a>
      <a href="/signup" class="d-block pt-2"><i class="ti-user"></i> Giriş</a>
    </div>
    
  </div>
  <div class="p-theme col-md-10">
    <p class="text-lg-right my-auto"> Giriş <i class="ti-user"></i>  </p>
    
    <div class="min-vh-100 wrapper">
     
      <router-outlet></router-outlet>

    </div>
  </div>

 
</div>
</header>

