<form action="/exam" method="GET">
  <div class="row">
    <div class="form-group col-md">
      <label for="text" class="mt-2">Adınız:</label>
        <input type="text" name="" id="" class="" placeholder="" aria-describedby="helpId">
      
    </div>
    <div class="form-group col-md">
      <label for="text" class="mt-2">Soyadınız:</label>
      <input type="text" name="" id="" class="" placeholder="" aria-describedby="helpId">
    </div>
      
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="" id="e-mail">
  </div>
  <div class="form-group">
    <label for="pwd">Şifre:</label>
      <input type="password" class="" id="pwd">
  </div>
  
  <div class="row">
    <div class="form-group col-md-1">
      <label for="grade">Sınıf:</label>
      <select id="grade" name="Sınıf" class="d-block ml-2">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="form-group col-md">
      <label for="school">Okul:</label>
      <input type="text" class="" id="School">
    </div>
    <div class="form-group">
      <label for="date">Doğum Tarihi</label>
      <input type="date" name="" id="" class="" placeholder="" aria-describedby="helpId">
      
    </div>  
  </div>
  
  <div class="checkbox ">
    <label class=""><input type="checkbox"> <p class="">Beni Hatırla</p></label>
  </div>
  <button type="submit" class="btn btn-default btn-outline-dark">Sınava Başla</button>
</form>